h1 {
  color: blue;
  background-color: yellow;
  border: 1px solid black;
}

p {
  color: red;
}

li {
    color: rebeccapurple;
    background: yellow;
    text-align: center;
    text-shadow:  2px 2px 3px purple;
}